# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [15]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys_copy import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [16]:
#read CSV file/ DF
cities_path = "Resources/cities.csv"
cities_file = pd.read_csv(cities_path)
cities_file.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temp (F),Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Hilo,19.73,-155.09,80.60,61,1,5.82,US,1592430808
1,1,Punta Arenas,-53.15,-70.92,32.00,84,0,2.24,CL,1592430941
2,2,Andújar,38.04,-4.05,77.00,42,28,5.01,ES,1592430726
3,3,Hopelchén,19.77,-89.85,87.80,70,40,13.87,MX,1592430726
4,4,Jadu,31.95,12.03,78.35,24,0,16.71,LY,1592430727

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [17]:
#Set GMAP with heat layer
gmaps.configure(api_key=g_key)

City_Locations = cities_file[["Latitude","Longitude"]]

humidity = cities_file['Humidity'].astype(float)

fig = gmaps.figure(zoom_level=2, center=(0,0))

heat_layer = gmaps.heatmap_layer(City_Locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [18]:
#Filter by ideal weather, by country of liking

Ideal_Vacation = cities_file[(cities_file['Max Temp (F)']<80) & (cities_file['Country']=="ES")]

Ideal_Vacation

,Unnamed: 0,City,Latitude,Longitude,Max Temp (F),Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Andújar,38.04,-4.05,77.00,42,28,5.01,ES,1592430726
223,223,Muros,42.78,-9.06,57.99,80,19,1.99,ES,1592431183
411,411,Los Llanos de Aridane,28.66,-17.92,73.40,78,18,9.17,ES,1592431288
436,436,Mahon,39.89,4.27,68.00,77,20,4.70,ES,1592431292

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [22]:
#add Hotel Name column to original DF

cities_file['Hotel Name'] = ""

Ideal_Vacation = cities_file[(cities_file['Max Temp (F)']<80) & (cities_file['Country']=="ES")]

hotel_df = Ideal_Vacation

radius_amount = 5000


params = {
    "radius": radius_amount,
    "type": "lodging",
    "key": g_key,}

#iterate through each lat/long combination based off city results

for index, row in hotel_df.iterrows():
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        
    lat_codes = row['Latitude']
    lng_codes = row['Longitude']
    
    params['location']= f'{lat_codes}, {lng_codes}'
    
    response = requests.get(base_url, params=params)
    
    places_data = response.json()
    
    
      
    hotel_df.loc[index, 'Hotel Name'] = places_data['results'][0]['name']

In [7]:
#check our work
hotel_df

,Unnamed: 0,City,Latitude,Longitude,Max Temp (F),Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
2,2,Andújar,38.04,-4.05,77.00,42,28,5.01,ES,1592430726,Hotel del Val
223,223,Muros,42.78,-9.06,57.99,80,19,1.99,ES,1592431183,Apartment Av. Castelao
411,411,Los Llanos de Aridane,28.66,-17.92,73.40,78,18,9.17,ES,1592431288,Valle Aridane
436,436,Mahon,39.89,4.27,68.00,77,20,4.70,ES,1592431292,ARTIEM Capri

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [14]:
# Add marker layer ontop of heat map

mark_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(mark_layer)



# Display figure

fig

Figure(layout=FigureLayout(height='420px'))